<h1> <%= @user.username %> Page.</h1>

<h2> Here are all the recipies that <%= @user.username %> has created.</h2>

<ul>
  <% @user.recipes.each do |recipe| %>
    <li>
      <%= link_to  recipe.name, recipe_path(recipe)%>
    </li>
  <% end %>
</ul>
